*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: "Century Gothic";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.chart{
    flex: 1 1 250px;
    margin:0;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;
}

.photo {
    max-width: 31.333%;
    padding: 0 10px;
    height: 240px;
}

.photo img {
    width: 100%;
    height: 100%;
}